body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(to right,#0e6992 41%, #9ccb0e 94%);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.App{
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}